[2019-03-29 21:33] littledan opened #3 "Return false in cross-Realm case?"
In my alternate suggestion https://github.com/tc39/ecma262/pull/1350 for a proposal in this space, I suggested adding an internal slot on template objects to serve as the identifying tag. The observable difference here is that, in your spec text in this repository, a cross-Realm template will return false. Was this the intention? If so, would it make sense to document the rationale in the README?

[2019-04-01 19:37] mikesamuel commented on #3
We should definitely document that.

Does the below resonate?

----

TT is interested in strengthening arguments like:

More generally,

Most realms that can interact are probably in the same origin, but if frozen realms succeeds in carving out a niche for untrusted code to run alongside trusted realms it may not.

`<iframe>`s are one of the most common cases where realms interact.  One frame's DO

[2019-04-01 19:37] mikesamuel opened #4 "Document relationship to tc39-proposal-literals"
https://github.com/mikewest/tc39-proposal-literals

[2019-04-02 03:03] littledan commented on #3
It's not so hard for same-origin iframes to find each other, but at the same time, if they are the same origin, I am not sure what sense it makes to keep them separate. So I don't understand the purpose of returning false for this case.

[2019-04-02 05:37] koto commented on #3
I believe we want to assert that a template literal object was part of the js code that is running in a given realm, and not one that was created elsewhere, e.g. in a different frame. That, for example, allows us define a runtime enforcement that's closer to what we can verify statically (e.g. if a document includes a single script that passed linter/compiler checks).

[2019-05-29 08:53] littledan commented on #3
Why is enforcement matching static verification a goal? I'd imagine that static verification is somewhat complementary to what this proposal achieves.

I'd be curious to learn more about how this relates to web platform security in a more broad way. To what extent are we trying to defend against same-origin frames? cc @mkwst

[2019-06-05 13:26] mikesamuel opened #6 "Transfer to tc39-transfer"

[2019-06-10 16:18] #6 closed

[2019-06-10 16:24] ljharb commented on #3
A cross-realm slot check would be most consistent with the language precedent.

If you also want to check same-realm, then because it’s frozen, you can use instanceof Array.

[2019-06-10 17:36] mikesamuel opened #7 "API shape"
@littledan raised this during Q&A.

My understanding is that the question is whether this would be used via

[code]

[2019-06-10 17:42] mikesamuel commented on #7
+1

But I'd rather not have this go up for stage 4 and get rejected because some detail of standard libraries still need to be hashed out, and I don't know of examples of proposals that have speced standard library modules.

Does anyone know how to draft spec text for a builtin function?

The spec abstraction should be reviewable independently of the API.

**Actionable**: the test262 tests can be

[2019-06-10 17:47] mikesamuel commented on #3
@ljharb

Thanks.  I hadn't thought of that.

I now agree that there's no need to limit w.r.t. realm, and making a realm agnostic version could be more generally useful.

[code]

Unless anyone objects, I'll draft a realm agnostic version of the abstraction with a non-normative note about the Realminess and `instanceof Array` trick.

[2019-06-10 17:57] ljharb commented on #7
This is stage 2. Builtin modules are stage 1. It makes no sense imo to chain a proposal to another in an earlier stage.

[2019-06-10 18:42] littledan commented on #3
Not sure what you're getting at with `instanceof Array`; the semantics are still a bit different due to `@@hasInstance`.

[2019-06-10 18:43] mikesamuel commented on #7
For reference: [JavaScript Standard Library Proposal](https://github.com/tc39/proposal-javascript-standard-library)

[2019-06-10 18:51] ljharb commented on #3
@littledan yes but on an object that passes the cross-realm brand check, it will be a frozen array, with no `Symbol.hasInstance`, so `const isSameRealmTemplateObject = isTemplateObject(obj) && obj instanceof Array` will be reliable.

[2019-06-10 19:12] littledan commented on #3
OK. I'm not sure how that's relevant to @koto 's [earlier point](https://github.com/tc39/proposal-array-is-template-object/issues/3#issuecomment-478851941) (but I also don't quite understand that argument).

[2019-06-10 19:15] ljharb commented on #3
That's precisely what my code snippet above asserts, without needing to violate precedent by having a same-realm slot check.

[2019-06-11 11:58] mikesamuel opened #8 "Polyfill needed"
[Polyfills and the evolution of the Web](https://www.w3.org/2001/tag/doc/polyfills/#advice-for-polyfill-authors) has some advice

So creating a polyfill as an npm package would suffice, and it should not mutate Array regardless of the resolution to issue #7.

As Daniel mentioned, we probably need to distribute it alongside a babel plugin that collects hoisted template objects and registers them wi

[2019-06-11 11:59] mikesamuel commented on #7
The tests can be written against the polyfill (issue #8) which [should gloss over the final API shape](https://www.w3.org/2001/tag/doc/polyfills/#don-t-squat-on-proposed-names-in-speculative-polyfills).

[2019-06-11 14:18] ljharb commented on #8
I use https://github.com/es-shims/es-shim-api for all my shims/polyfills, which allows for proper shimming but doesn’t do so by default.

[2019-06-11 15:52] littledan commented on #7
Just to clarify, I am fine with leaving this as a static method at this point. This is certainly the best strategy if we want this to become standard fast.

[2019-06-11 21:02] mikesamuel commented on #8
https://github.com/mikesamuel/is-template-object should provide something that is compatible with the es-shim-api requirements (see [test](https://github.com/mikesamuel/is-template-object/blob/master/test/es-shim-requirements-test.js)) but will still need work as far as babel integration to be spec compliant around forgeries.

[2019-06-12 16:59] mikesamuel commented on #3
Ok.  So instead of having an IsTemplateObject abstraction that mirrors [GetTemplateObject](https://tc39.es/ecma262/#sec-gettemplateobject), I'm going to modify GetTemplateObject somewhere between

8. Let *template* be ! ArrayCreate(*count*).

and

14. Perform SetIntegrityLevel(*template*, `"frozen"`).

to add a step like

1. <ins>Set *template*.[[TemplateObject]] to `true`.

and then the IsTemplat

[2019-06-12 19:35] #3 closed

[2019-06-12 19:37] mikesamuel commented on #7
Closing since, with the polyfill concerns extracted into issue #8, it looks like all commenters agree.

[2019-06-12 19:37] #7 closed

[2019-06-12 19:44] #4 closed

[2019-06-12 19:45] mikesamuel commented on #8
@ljharb, What is needed above and beyond implementing es-shim-api?

[2019-06-12 19:50] ljharb commented on #8
Just writing tests, I guess - the intention is that a compliant package a) has a consistent module interface, b) by default doesn't mutate the environment, c) can give you a "polyfill" in any environment, which is either the native method, or not, depending on how broken it is, and d) can self-install properly when requested explicitly.

[2019-06-12 19:53] mikesamuel opened #9 "Stage 2 Review"
@erights @jridgewell, thanks for volunteering to be stage 2 reviewers.

I think this is ready for review.  Of interest might be
* [Spec text](https://tc39.es/proposal-array-is-template-object/)
* [Test262 suite](https://github.com/tc39/proposal-array-is-template-object/blob/master/test262/test/built-ins/Array/is-template-object.js)
* [Polyfill](https://github.com/mikesamuel/is-template-object) ava

[2019-06-12 20:05] ljharb commented on #9
- in the static method, i'd probably just do `Return ! isTemplateObject(_value_)`, ie both inlining and adding the `!`
 - isTemplateObject seems like it could be simplified to `If Type(value) is Object and value.[[TemplateObject]] is *true*, return true, else return false`, or similar?

[2019-06-13 03:04] erights commented on #9
Hi Mike, I object to using a realm-agnostic internal property for the branding. The way you first presented this, with a per-realm branding-on-creation weakset-equivalent is strictly superior. It should be observably identical except that it is per-realm.

Making this inter-realm fails to make trust distinctions between realms with different evaluation policies, which kinda negates the whole purpo

[2019-06-13 03:40] ljharb commented on #9
Why? Internal slots almost all behave this way - what’s to stop you from wrapping isTemplateObject inside your membrane and applying the restrictions you want?

[2019-06-13 04:16] erights commented on #9
@ljharb I don't understand the question.

[2019-06-13 04:21] ljharb commented on #9
My understanding is that membranes only work if you have the ability to wrap all the intrinsics/primordials/builtins. So, the original behavior of them - like Function.prototype.toString.call, for example - is irrelevant (except in how it dictates what you need to virtualize). Thus, you can virtualize isTemplateObject to have any same-realm behavior you want - including denying cross-realm detecti

[2019-06-13 13:02] mikesamuel commented on #9
@erights said

Brand checks would use isTemplateObject and a realm check.

The difference is that a realm-agnostic isTemplateObject allows flexible brand checks via `isTemplateObject(x) && setOfArrayPrototypes.has(Object.getPrototypeOf(x))`.

So `Array.isTemplateObject` is not a brand check in the same way that `Array.isArray` is not a type check; neither tells you little about how the input respo

[2019-06-13 13:15] erights commented on #9
We special cased `Array.isArray` in proxy. I do not want to add a special proxy request for this one. We need to keep it realm local for this reason, but even more so, for eval-policy reasons.

[2019-06-13 13:31] mikesamuel commented on #9
@ljharb said

Done

[2019-06-13 13:42] mikesamuel commented on #9
I agree re eval-policy, but am unsure how that relates to this.

By special proxy handling do you mean step 3 of https://tc39.es/ecma262/#sec-isarray

If so, there is currently no special proxy handling for isTemplateObject and no requests for it.

[2019-06-13 17:34] mikesamuel commented on #8
Closing.  Any other requirements for the polyfill can be collected at its [issue tracker](https://github.com/mikesamuel/is-template-object/issues).

[2019-06-13 17:34] #8 closed

[2019-06-13 19:59] jridgewell commented on #9
LGTM.

[2019-06-19 07:59] littledan commented on #3
I would recommend instead creating the template with the internal slot, and leaving it as undefined, as I did in https://github.com/tc39/ecma262/pull/1350

[2019-06-19 08:01] littledan commented on #8
I don't know about the details of es-shim, but I think it would be best to omit a "shimming" more until this "crosses the threshold".

[2019-06-19 16:12] ljharb commented on #3
It seems much cleaner to me to have a slot with a value that’s checked, then to pivot on the mere presence of a slot.

[2019-08-10 18:47] mikesamuel opened #10 "Resolve Realm-agnosticism"
This is a separate consensus seeking issue to resolve a blocker for #2.

+@ljharb who suggested Realm-agnostic current semantics.
+@erights who has concerns about the proposal in its current form and is a reviewer
+@jridgewell who is the other reviewer.
+@littledan who raised #3

Please correct me if I'm wrong, but IIUC, in https://github.com/tc39/proposal-array-is-template-object/issues/9#issueco

[2019-08-10 19:10] ljharb commented on #10
I wouldn’t. You already have to virtualize everything that does brand checks in order to control cross-realm behavior; why is this any different than all the other mechanisms?

The Array.isArray behavior is currently an aberration; it’d have been nice if it applied to all internal slot lookups, but as it is, i don’t see the value in adding a second special case.

[2019-08-10 20:41] mikesamuel commented on #10
@ljharb To be clear, I'm not proposing replicating the Array.isArray behavior.

I'm asking about going back to the realm gnostic behavior: https://github.com/tc39/proposal-array-is-template-object/blob/f689383dbf9061497dbc8b6c421619ec0eb6b730/spec.emu

[2019-08-10 22:52] ljharb commented on #10
That doesn’t make any sense to me either - if the point of this proposal is to identify objects created by a literal template tag, why would one in another realm be any different?

Slots are cross realm. Unless all of them become same-realm (i doubt this is web compat), they should all stay cross-realm.

[2019-08-11 19:55] mikesamuel commented on #10
@ljharb , @erights has some concerns about interactions with [js-membranes](https://tvcutsem.github.io/js-membranes).

I think the outcome that he wants to avoid is a realm-agnostic `Array.isTemplateObject` returns false for a faithful proxy of a template array from another realm.

I think the idea is that if you have two realms, R and S, connected by some channel C.

*  R passes a template object

[2019-08-11 19:58] ljharb commented on #10
The way to manage that is the same way to manage everything else that brand checks - virtualize Array.isTemplateObject too.

I don’t think it’s a reasonable request to repeat the deviation that is isArray anywhere else, when there’s hundreds of other places the standard pattern (of virtualizing the brand checker) applies.

[2019-08-11 20:06] mikesamuel commented on #10
@ljharb, In this scenario, realm S is using its own `Array.isTemplateObject`.

AFAICT, noone is requesting that.
That's why I'm asking about realm-gnostic Array.isTemplateObject.

[2019-08-11 20:10] jridgewell commented on #10
There shouldn’t be a need to wrap `o` in a proxy, it’s a deeply frozen object.

[2019-08-11 20:30] ljharb commented on #10
@mikesamuel some current axioms we have are a) internal slots are always cross-realm, b) except for Array.isArray and [[Call]], Proxies do not forward internal slots. Realm-gnostic violates the first, Proxy unwrapping violates the second.

[2019-08-12 15:35] mikesamuel commented on #10
Deeply frozen objects may have unfrozen prototypes.

[code]

[2019-08-22 19:42] mikesamuel commented on #10
@erights Thanks for organizing that discussion.  I hope you're feeling better.  I know you still have some outstanding concerns, and you're short on time.  Are there any questions I might help provide clarity on?

[2019-08-23 09:39] erights commented on #10
We discussed my major concern: That the security purpose of addressing your threat model is only well served by a per-realm (in particular, per-compartment) check. However, we did not get to a secondary-but-important concern: yet another compromise of membrane transparency. We should stop adding cross-realm internal slots. Each one creates a painful difference between a root-realm boundary and a r

[2019-08-23 14:00] ljharb commented on #10
How else can i do a cross-realm brand check?

[2019-08-23 14:31] mikesamuel commented on #10
@ljharb

If Array.isTemplateObject is per-realm, and it lived at `Array.isTemplateObject` then a cross-realm-predicate could be done approximately (breakable via intrinsic tinkering) by reaching through the prototype to get the appropriate per-realm predicate:

[code]

[2019-08-23 14:33] ljharb commented on #10
That can’t be trusted because the other realm may have replaced the function - the only thing i can trust is caching a function in my own realm prior to untrusted code running.

[2019-08-23 14:35] mikesamuel commented on #10
@ljharb.  True.  Hence the "breakable via instrinsic tinkering".

[2019-08-23 14:36] ljharb commented on #10
Breakable means it’s not a brand check :-)

[2019-08-23 14:37] mikesamuel commented on #10
Quite right, a parent realm could maintain a Map from descendent Realms' Array.prototype to isTemplateObject.

[2019-08-23 14:38] mikesamuel commented on #10
Edited language s/brand check/predicate/.

A *predicate* is sufficient for the non-security use cases.

The per-realm brand check is sufficient for known security use cases.

[2019-09-02 14:04] littledan commented on #10
I don't understand the language about "yet another compromise of membrane transparency". Membrane transparency is nowhere near the default. Almost nothing using internal slots operates in a membrane-transparent way. Private fields are similarly non-transparent. The proposal is simply following the normal pattern. I'm not in favor of making a habit of piercing through Proxies in cases like this.

[2019-09-02 14:16] erights commented on #10
Almost all use of internal slots is membrane transparent. See the Date example at https://github.com/tc39/proposal-array-is-template-object/issues/10#issuecomment-524248326 above.

Private fields are ***completely fully totally membrane transparent with no exception***. If realm R1 has a class C1, from evaluating source code for class C, and realm R2 has a class C2 from evaluating the same code C,

[2019-09-02 14:17] erights commented on #10
Neither am I. I prefer not to create the problem in the first place.

[2019-09-02 14:28] littledan commented on #10
I'm sorry, I used "membrane transparent" when I meant to say "proxy forwarding". I believe none of these forwards through Proxies, and all of them should work out well with membranes (including the current specification draft as is).

[2019-09-02 14:46] erights commented on #10
The problem is that

[code]

That last line would become true with this proposal as it stands, creating a problem that we have successfully avoided.

I recommend that we fix this by making the `Array.isTemplate` test per-realm, which we can do easily since the specification already has the semantic state (specification data structure) of a per-realm collection of all templates created in that real

[2019-12-04 22:33] gibson042 opened #12 "Practical example needed"
The [README case](https://github.com/tc39/proposal-array-is-template-object) demonstrates that code _can_ use `Array.isTemplateObject` to differentiate an array extracted from the static strings of a tagged template from other values, but does not demonstrate any use case in which a potential attacker has the ability to provide arguments to a `sensitiveOperation` function but does not have the abi

[2019-12-04 23:29] bathos commented on #12
It allows differentiating between _source text_ and dynamic text. Using a CSP to block eval, template tag spans will only be actual source text, which may be trusted while dynamically generated code is not trusted.

It’s true that it could pass in an array from another tagged template, but even so, that array would have to have been source text in this scenario also.

[2019-12-04 23:34] ljharb commented on #12
Source text as in, a dynamically constructed and imported data URI?

[2019-12-04 23:39] bathos commented on #12
If the CSP permits data: sources for script-src or the importing script otherwise has authority that extends to that (strict-dynamic, not sure if there are other such cases now), I would think yes, and otherwise no ... but I’m not really sure what the relationship between CSP/script-src and dynamic import is now.

[2019-12-06 20:30] gibson042 commented on #12
I know _what_ it allows, but I'm still looking for a demonstration of _where_ that matters.

[2019-12-06 21:26] bathos commented on #12
It’s closely related to the goals of the proposed [Trusted Types API](https://github.com/w3c/webappsec-trusted-types) but also the general concept of trusted/untrusted source, which is a [strategy for reducing XSS surface](https://github.com/google/safe-html-types/blob/master/doc/index.md). That pattern has been implemented in various libraries including Angular.js (the [$sce service](https://docs

[2019-12-06 21:40] jridgewell commented on #12
See also https://github.com/mikewest/tc39-proposal-literals#motivation, which lists `goog.SafeHtml`, `goog.SafeUrl` and `goog.string.Const` (closure compiler values).

[2019-12-07 05:04] gibson042 commented on #12
I've read that page, and trusted types as a concept are fairly well explained. But _here_, there's a lot of grand language and a dearth of demonstration. I'm not saying this proposal can't deliver on its promises, I'm just asking for something real that backs them up. Is that difficult to provide?

[2019-12-07 05:22] bathos commented on #12
It might be tough to provide in the form of a code snippet. I think claims that static source constraints provide auditability and a reduction in the odds of evaluating untrusted source are sound, but I’m embarrassed to admit I don’t know how to properly illustrate either, especially in a README friendly form, since it’s (as I understand it, anyway) not about specific attack vectors but rather abo

[2019-12-07 05:39] gibson042 commented on #12
That may not have been the right term anyway, "handwaving" is probably more accurate. By way of contrast, there's a straightforward demonstration of how trusted types prevent careless use of URL fragment data (arbitrary user input) as HTML from becoming a vulnerability, and how safe use of that input remains possible. So what's the equivalent here—e.g., what kind of vulnerability exists without `i

[2019-12-07 07:11] bathos commented on #12
ah, ouch. well, fwiw, the intention was to be helpful — seems I missed the mark pretty badly!

Although I don’t think I can provide the kind of example you’re looking for, here’s at least a very direct (if contrived) one. Assume `html` is a template tag provided by a library which wants to automate handling trusted types, like [in lit-html](https://github.com/Polymer/lit-html/blob/03220871599daf8b

[2019-12-08 20:55] mikesamuel commented on #12
Will add examples to the explainer.

@gibson042 I'll try to avoid using grand language, but I'd like to ask a few questions to make sure  examples address your core concerns.

Re the bolded text, I think there is value in tagged templates that sit in front of sensitive operations to provide safe abstractions.

Safe abstractions are often built using unsafe APIs.  Google's internal toolchains try t

[2020-04-27 16:51] littledan commented on #9
What more is needed in this proposal before Stage 3? It seems to be in pretty good shape to me.

[2020-11-26 13:24] koto commented on #10
Hi! I'll take over championing this from @mikesamuel.

Things might have changed since the last update here, and I was also not part of the offline discussion about this issue, so I might be lacking some context. Perhaps some of those concerns are no longer true. What are the next best steps, given that there seems to be conflicting and mutually-exclusive requests from @ljharb and @erights ?

Havi

[2020-11-26 13:50] koto commented on #9
It seems to be blocked on #10.

[2020-11-28 06:01] ljharb commented on #9
@koto the [rendered output](https://tc39.es/proposal-array-is-template-object/) still says "Stage 0", which suggests the spec is not up to date. Modulo #10, is it?

[2020-11-30 12:54] koto commented on #9
Yes, I don't yet have admin access to the repository (https://github.com/tc39/Admin-and-Business/issues/97) and didn't regenerate the spec. In the meantime the ES GetTemplateObject step ordering changed, so this needs just a tiny editorial fix before that, but the logic is up to date modulo #10.

[2020-12-01 07:36] ljharb commented on #9
It's very difficult to review the raw ecmarkup; please ping the thread once the rendered spec has been updated :-)

[2020-12-04 14:57] #12 closed

[2020-12-04 15:09] koto commented on #9
Ready to review. I assume I should put the current stage in the spec draft, not the one I intend to advance to?

[2020-12-04 16:06] ljharb commented on #9
Regarding the spec: we don’t add slots to objects post-creation, so if you want this array to have a [[TemplateObject]] slot, then every array must have one.

[2020-12-05 04:28] jridgewell commented on #9
Yah, we'll need to modify `ArrayCreate` to initialize with `[[TemplateObject]]` and set that to false. Otherwise looks fine.

[2020-12-09 15:20] koto commented on #10
@erights, friendly ping.

[2021-01-05 13:42] koto commented on #9
@erights, could you review the current proposal? I wanted to apply for advancement to stage 3 in the January meeting. It seems like the contentious part might be the brand check, there's already a [brand check discussion](https://es.discourse.group/t/strong-brand-checking-in-javascript/557) planned for that meeting proposed by @littledan. Is it reasonable to resolve the brand check concerns in tha

[2021-01-06 14:47] koto opened #15 "Advance to stage 3"
Entry criteria for stage 3:

- [x] complete spec text
- [ ] designated reviewers signoff
- [ ] all ECMAscript reviewers signoff

[2021-01-06 14:50] koto commented on #15
// cc @ljharb @_shu @smooshMap @bakkot as current ES editors.

[2021-01-06 14:53] koto commented on #15
// cc @erights @jridgewell as reviewers. Justin, I think you already reviewed this, but #9 might give the wrong impression that this was for stage 2 advancement. Explicitly asking for LGTM.

Relevant discussion in #9.

[2021-01-06 18:54] jridgewell commented on #15
LGTM.

[2021-01-06 19:27] ljharb commented on #15
Spec text LGTM from an editorial perspective (please also ensure the other editors have deferred or approved)

[2021-01-06 19:51] koto commented on #15
cc @michaelficarra @syg for real (I used Twitter handles before :( )

[2021-01-06 20:11] michaelficarra commented on #15
Spec text LGTM. Splitting out `IsTemplateObject` is a bit unnecessary, but I'm fine with it.

[2021-01-12 01:10] syg commented on #15
Editorially lgtm with small nits (punctuation and capitalization) that can be addressed later.

I have the same question that @michaelficarra has: why aren't the algorithm steps for `Array.isTemplateObject` inline?

[2021-01-12 01:41] ljharb commented on #15
I assume to mimic IsArray and other “is” checkers, which have a separate abstract operation. It could always be inline now and factored back out to an op if it’s needed in a second place, but i don’t see the harm in leaving it separate now either.

[2021-01-12 09:02] koto commented on #15
I inlined the algorithm, it's more compact that way. @bakkot, can you TAL? All other ES editors gave LGTM for stage 3. Thanks in advance!

[2021-01-12 15:10] ljharb commented on #15
@koto the name shouldn’t be explicitly defined in a note; the method signature already handles that.

[2021-01-12 15:21] koto commented on #15
Fixed, thanks!

[2021-01-12 15:54] ljharb commented on #15
Updates LGTM. You may also want to list champions/authors in the readme.

[2021-01-12 17:41] bakkot commented on #15
Strictly speaking I'm not sure it's defined to read the value of a slot which might not be present. So I think this should probably be

[code]

(Also there's a miscapitalization in `Array.isTemplateObject` 1.a: `s/return/Return/`.)

Otherwise LGTM.

[2021-01-12 17:43] ljharb commented on #15
Alternatively, it could use IsArray to ensure it’s an array (and also an Object), which also ensures it has the slot - since there shouldn’t ever be a non-array with this slot.

[2021-01-21 13:43] koto commented on #15
@erights any thoughts about the proposal?

[2021-01-21 15:46] erights commented on #15
Is there an answer to my objections? Where?

[2021-01-21 16:42] koto commented on #15
https://github.com/tc39/proposal-array-is-template-object/issues/10#issuecomment-734296514

[2021-01-21 17:30] erights commented on #15
Thanks. That seems dismissive of the concerns rather than addressing them. The general `Foo.prototype.method.call(aFooInstance, ...args)` is not the normal way one applies that method to that instance. The typical way, `aFooInstance.method(...args)` works fine across membranes. Your `isTemplate` (or `isTemplateObject`) check has no safe form of use.

Also, having it work transparently across realm

[2021-01-21 18:22] koto commented on #15
Can you explain what 'safe' means for you in this context? Realms are not security boundaries, so I don't see how interacting with a template object created by a foreign Realm might be any more, or less safe.

That's not true. The host environment is in a position to disable eval - be it based on the passed realms, or globally.

That is correct and part of the design, it stems from the fact that R

[2021-01-21 18:37] erights commented on #15
The terms "security" and "security boundary" are unclear umbrella terms that mean different things to different people. See
[A Taxonomy of Security Issues
for understanding language-based security and modularity](https://docs.google.com/document/d/1cHSXziWOZ_44oSdyaKkJ-X0hTF_OhunIjgnrJ8oycss/edit?ts=600888ac#heading=h.46m4wp4lbit8)
and please explain in more precise terms what you mean. I suspect

[2021-01-25 13:56] koto commented on #10
Moved back here for clarity, this is a continuation of the discussion with @erights in https://github.com/tc39/proposal-array-is-template-object/issues/15#issuecomment-764853568.

In my understanding (apologies If I misunderstood it!) the essay proposes a taxonomy that seems to be advocating for creating finer-than-process-level boundaries inside the language, and claims that they are secure - as

[2021-01-25 13:58] koto commented on #15
Thanks, @erights, I continued the discussion in #10, as that ticket has the most context.

[2021-01-25 16:32] erights commented on #10
Is this the example you meant? I just tried it in Chrome with and without `anotherRealm.` and the output looks the same. See attached screenshot.

<img width="908" alt="cross-realm-json" src="https://user-images.githubusercontent.com/273868/105734725-cb86d680-5ee7-11eb-85cb-207ca705145d.png">

[2021-01-25 16:36] erights commented on #10
<img width="479" alt="cross-realm-isView" src="https://user-images.githubusercontent.com/273868/105735255-55cf3a80-5ee8-11eb-8d4c-d4012b6c6d6c.png">

[2021-01-25 16:40] erights commented on #10
What happens with these across transparent membranes? I have not yet tried that.

[2021-01-25 16:44] erights commented on #10
Assuming the JSON example does not work across membranes, the problem is the use of the object wrappers for primitive types. For strict code, this object wrapping never happens implicitly. There is no reason for normal code to ever use object wrappers explicitly. At least I have never found a reason. In their absence, the first example doesn't arise.

The main internal state test that I'm aware of

[2021-01-25 16:46] erights commented on #10
I frankly have not thought about `ArrayBuffer.isView` before. I need to examine this. Until I do, I must acknowledge that this may be a genuine problem.

[2021-01-25 16:52] erights commented on #10
`Promise.resolve` is a known problem. It is less transparent than I'd like but more practically transparent than you might expect. The problem is that `Promise.resolve` does not recognize a proxy for a promise as a promise, and so coerces it rather than returning it uncoerced. The reason it is still practically transparent enough for most purposes is `Promise.resolve` still recognized the proxy as

[2021-01-25 17:07] littledan commented on #10
@erights I feel that, as we evolve and grow the JavaScript standard library, it will be too limiting to refrain from using internal slots of function arguments, and `JSON.stringify` and `ArrayBuffer.isView`. (To clarify about `JSON.stringify`: it also checks whether primitive wrappers are really primitive wrappers.) Membrane systems will have to unpack parameters if they want to virtualize a JavaS

[2021-01-25 17:18] erights commented on #10
Class private fields, which were initially intended to be internal-slot-like, instead adopted a weakmap-like semantics. Along the same lines, @domenic at one point proposed having new internal slots not be cross-realm accessible. Both semantics would avoid these problems without impeding intra-realm expressivity.

Attn @fudco

[2021-01-25 17:26] erights commented on #10
If one `eval` is not able to magically brand things such that another `eval` recognizes them as branded, then from the pov of the second `eval` how is the first eval different than a meta-interpreter written without using an `eval` primitive? An `eval` restricted environment is clearly not in a position to ban evaluation by meta-interpreters. An `eval` restricted environment is therefore equally p

[2021-01-25 17:28] koto commented on #10
Thanks for your updates, they are very helpful to me. Your point earlier in the thread is to "stop adding new cross-realm exotic internal slots",  I was trying to show that functions depending on them (and, as such, working with cross-realm objects - "realm-transparent" if you will) are common enough already. I was purposefully ignoring the membranes to simplify the argument.

Perhaps there is som

[2021-01-25 17:34] erights commented on #10
@littledan puts it well. For every internal slot we also define builtin methods that recognize the internal slot. If those builtin methods only recognize it on their `this` argument, then it falls under the "practically transparent" caveat. Otherwise, we need to resort to one of these other semantics that make the internal state, represented somehow, not be accessible cross-realm in ways that they

[2021-01-25 17:48] koto commented on #10
I might be not following fully, there's a lot to unpack here, but you seem to argue that if `eval` would be incapable of branding template objects for another Realm (or e.g. `eval` within that second Realm), then the target Realm can ignore the evalness of the first Realm for this brand check? (I assume evals are in different Realms, maybe that's not what you mean). That is correct, but it's not w

[2021-01-25 18:37] erights commented on #10
First, yes, I assume different realms have different evals. Further, I assume that different compartments have different evals.

If the brand was represented as a per-compartment weakset, and only checked in one's own weakset, then something that was created as a template by one eval would not be recognized as a template by another eval. That's the solution that @mikesamuel discussed and agreed on

[2021-01-25 18:40] erights commented on #10
My point is exactly that this is a bug, not a feature.

[2021-01-25 18:58] koto commented on #10
Do I understand correctly that your point about eval is only relevant *if* the brand is not carried across Realm? That seems to be what the examples assume. If so, then I think I understand how this may introduce complexities you described, but again -- this is not what I propose. I'm trying to understand whether, were you convinced about cross-realmness, there is still another remaining issue. Th

[2021-01-25 19:36] erights commented on #10
If we make it recognized cross-realm, then it would either
   * need to be recognized cross-realm across membranes, or
   * need to somehow fall into the fuzzy loophole of "not precisely transparent, but transparent enough for practical purposes".

Here's a proposal that I can't say I love, but would fall into the second category:

Move your `isTemplateObject` onto `Array.prototype` as a no-argume

[2021-01-25 19:49] koto commented on #10
I must say I don't hate it :) To double check, eval would not be an issue? The solution solves for "practical membrane transparency", does it also satisfy your concerns w.r.t. eval?

[2021-01-25 19:53] ljharb commented on #10
I'm fine with that as an alternative proposal, but we have a number of brand-checking non-proxy-piercing non-prototype methods already - not just `Promise.resolve` and `ArrayBuffer.isView`, but also the other 3 Promise combinators, and all (13?) of the Atomics methods (which read TypedArray internal slots).

In other words, it seems like the cat is already out of the bag on this one.

[2021-01-26 04:01] erights commented on #10
The
[code]
alternative solves the practical membrane transparency issue but not the eval issue.

The
[code]
solves both. The `eval` issue is the bigger deal.

[2021-01-26 04:06] erights commented on #10
If these are all the existing cases, then I draw the opposite conclusion. All the promise methods will assimilate thenables, achieving a significant degree of practical transparency.

The Atomics are low level direct memory manipulation that we should never expect to work across membranes. They will remain obscure to normal users.

It sounds like we're down to one problem case, `ArrayBuffer.isView

[2021-01-26 12:26] koto commented on #10
I think the underlying issue is that _complete_ meta-interpreters must be created with the respect of internal slot behavior in ES. Your proposed fully isolated meta-interpreter would already face the same incompatibilities in other parts of the language, since internal slots are purposefully accessible across realms - and, for example `String` instances would not behave as they are defined. Nor d

[2021-01-26 14:11] koto commented on #9
Closing this issue, as it's currently redundant with #15.

[2021-01-26 14:11] #9 closed

[2021-01-26 16:44] erights commented on #10
I think you're missing the point of the meta-interpreter exercise. Whether `String` wrapper objects are recognized cross-realm or across membranes is an annoyance issue, and it the two answers are inconsistent is a transparency issue. But beyond transparency, the String wrapper issue is not a security concern one way or the other.

Your motivation for introducing `isTemplateObject` is to achieve a

[2021-01-27 14:57] koto commented on #10
Thanks, that clarifies your position to me much better.

Perhaps it's a matter of the threat model. In the one I'm coming from the weaker form is "good enough", as it already aligns with  the environment web applications operate in, hence the pushback. The native boundaries there are not Realms, or compartments, they are set at a different level - process boundaries, [browsing context groups](http

[2021-01-27 15:30] ljharb commented on #10
I’m not sure i see a trend to respond to - cross-realm checks aren’t going away, and remain important. Making it eval-relative does seem workable, however, since then the question it’s answering is “is this a template object that came from this eval function?”, which means as long as i can access that eval, i can check from any realm.

It certainly has always seemed weird to me to have this check

[2021-01-27 15:47] koto commented on #10
Most template objects would actually not be created by any `eval`, so it just feels strange:.

[code]

If it's not Array-related, would a global `isTemplateObject` (checking with TemplateMap to get a same-realm check) be better? And if so, perhaps this is a compromise?  I must say I still don't fully follow the eval-relative semantics, as all the Realm evals may have a different scope, but still r

[2021-01-27 15:49] bathos commented on #10
Would it make sense for the behavior itself to pivot on HostEnsureCanCompileStrings? I may be misunderstanding, but it seems as though, in an environment where HECCS denies eval, isTemplateObject gains nothing from being made eval-relative because the _meaningful_ “eval-relative” is now an agent-level concept, not a realm-level concept. The check becomes mysteriously less useful for no benefit — b

[2021-01-27 15:59] koto commented on #10
It is already possible to branch on HECCS (`try..catch` `eval` and decide whether `isTemplateObject` is trustworthy enough). I worry that introducing a language feature that in itself behaves differently, depending on HECCS (that's not already `eval` and friends HECCS was targeted to), would cause portability problems further down the line.

[2021-02-01 14:47] koto commented on #10
Is there any other eval-relative functionality this could be modelled after, @erights?

I still don't quite see the benefit of the eval-relative setup, since the evals still have access to all their Realms globals anyway, so could circumvent any checks the caller of eval does afterwards. That aside, I think it's far we explore what is possible and how to achieve that.

[2021-02-02 01:12] erights commented on #10
There are a lot of things that are compartment relative, where compartments are 1-to-1 with `eval`. So anything per compartment is per `eval` and vice versa.

See
https://github.com/tc39/proposal-compartments
https://github.com/Agoric/SES-shim/tree/master/packages/ses
https://github.com/tc39/proposal-ses
https://www.youtube.com/watch?v=pMyGLmfgU5A&list=PLzDw4TTug5O3vIAd4IR1Gp5t_46co_dv9

Any way t

[2021-02-09 13:55] koto commented on #10
Thank, Mark!

Looking at the [newest activity in Realms](https://github.com/tc39/proposal-realms/issues/289#issuecomment-775363697), it seems like you're aiming for stronger boundary between Realms now. So, to my understanding, the checks inside `Realm.eval` would remain Realm-local, however `isTemplateObject` would be specced (even with internal slots). Similarly, template objects in the main exe

[2021-02-23 07:46] koto commented on #10
@erights, what do you think?

[2021-03-08 06:45] koto commented on #10
@erights, I would really like to get your feedback on this issue. There are use cases for this proposal that I wanted to help move forward, but understandably we need to resolve the blocking concerns first. Thanks in advance!

[2021-03-23 12:06] koto commented on #10
@erights, I am not sure how to move this forward without getting some of your feedback. Are GitHub issues not the best way? Should we set up an incubator call?

[2021-05-21 06:39] shhnjk commented on #10
Hi, is there any update on this?
We really need the primitive of asserting static literals dynamically. If there is any way that we can help, let me know 😊

+1 to `Array.isTemplateObject` from Microsoft Edge.

[2021-05-21 10:13] koto commented on #10
@erights, I've tried multiple times to reach you, both here and through the Agoric email. You're blocking the proposal advancement, and we really want to move forward, making sure that your concern is addressed, but can't do so without your feedback. Please respond. To rephrase what I feel the current state is:

- template-objectness-virtualization simply requires new hooks in (stage 1) Compartmen

[2021-05-21 14:26] erights commented on #10
The compartments hooks are plausible. Let's work on what Compartment hooks would look like to address these concerns. It would not be an internal slot though, as that would not enable a per-compartment difference.

[2021-06-08 13:53] koto commented on #10
@erights , thanks, I forked this to https://github.com/tc39/proposal-compartments/issues/42. I would really like to explore using internal slots (without them, we're back in square 1), this is what most other objects in the spec use, and there is no per-compartment concept that I'm aware of so far. I have some ideas in the compartment issue on how to achieve that.

Meta note: Would it help if this